token.json
credentials.json
__pycache__/
/__pycache__
/__pycache__
batch_input_output_files/batchProcessing_file_promptTemplateCoA_BMW_test.json
batch_input_output_files/CoA_part1.json
batch_input_output_files/CoA_part2.json
batch_input_output_files/CoA_part3.json
batch_input_output_files/CoA_part4.json
batch_input_output_files/CoA_part5.json
batch_input_output_files/CoA_part6.json
batch_input_output_files/CoA_part7.json
batch_input_output_files/CoA_part8.json
batch_input_output_files/batchProcessing_file_promptTemplateCoA.json
companyYearReports.pkl
batch_input_output_files/big_dataset_10.json
batch_input_output_files/big_dataset_11.json
batch_input_output_files/big_dataset_12.json
batch_input_output_files/big_dataset_13.json
batch_input_output_files/big_dataset_14.json
batch_input_output_files/big_dataset_15.json
batch_input_output_files/big_dataset_16.json
batch_input_output_files/big_dataset_17.json
batch_input_output_files/big_dataset_18.json
batch_input_output_files/big_dataset_19.json
batch_input_output_files/big_dataset_20.json
batch_input_output_files/big_dataset_21.json
batch_input_output_files/big_dataset_22.json
batch_input_output_files/big_dataset_23.json
batch_input_output_files/big_dataset_4.json
batch_input_output_files/big_dataset_5.json
batch_input_output_files/big_dataset_6.json
batch_input_output_files/big_dataset_7.json
batch_input_output_files/big_dataset_8.json
batch_input_output_files/big_dataset_9.json
batch_input_output_files/big_dataset_conflict_resolution.json
batch_input_output_files/big_dataset_conflict_resolution_2.json
batch_input_output_files/big_dataset_conflict_resolution_3.json
batch_input_output_files/big_dataset_conflict_resolution_4.json
batch_input_output_files/big_dataset_tofix.json
batch_input_output_files/big_dataset_tofix_2.json
__pycache__/Gemini.cpython-312.pyc
__pycache__/MySQL_client.cpython-312.pyc
batch_input_output_files/big_dataset_4.json
__pycache__/Gemini.cpython-312.pyc
__pycache__/MySQL_client.cpython-312.pyc
batch_input_output_files/big_dataset_4.json
